
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    background-color: #1f2937;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.logo{
    font-size: 24px;
    color: #e5e7eb;
    margin-top: 16px;
    font-weight: bold;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.links{
    display: flex;
    margin-top: 16px;
}
.navbar ul li{
    margin-left: 20px;
}

.header{
    background-color: #1f2937;
    min-height: 400px;
    display: flex;
    
}
.header h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.header p{
    font-size: 18px;
    color: #e5e7eb;
}

.header img{
    max-width: 400px;
      
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
button{
    padding: 8px 24px;
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    margin-top: 8px;
    
}

.section{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9faf8;
    min-height: 400px;
    text-align: center;
}
.section h1{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 40px; 
}
img{
    max-width: 250px;
    
}
.container{
    display: flex;
}

.section2{
    min-height: 400px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section2text{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    max-width: 1300px;
    
}   
.span{
    font-weight: bold;
    font-size: 26px;
    text-align: end;
}

.section3{
    min-height: 300px;
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #3882f6;
    color: #f9faf8;
    height: 150px;
    width: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    
}
.cardtext{
    font-size: 24px;
    font-weight: bold;
    
}
.cardtext span{
    font-size: 16px;
    display: block;
}
.button{
    border-style: solid;
    border-color: #f9faf8;
    font-weight: bold;
    padding: 3px 30px;
    font-size: 16px;
    margin-left: 10em;
}
.footer{
    background-color: #1f2937;
    color: #f9faf8;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    font-size: 18px;
    font-weight: bold;
}   